// section clients
.clients__list {
    @extend %list;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: -15px;
}

.clients__item {
    margin: 15px;

    width: calc((100% - 30px*2)/2);
    height: 92px;

    @include mq(tablet) {
        max-width: calc((100% - 30px*3)/3);
    }

    @include mq(desktop) {
        max-width: 170px;
    }
}

.clients__link {
    @extend %link;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;

    color: $color-icon;
    border: 1px solid $color-icon;
    border-radius: 4px;

    transition: color $transition-duration $transition-timing-function, border $transition-duration $transition-timing-function;

    &:hover,
    &:focus {
        border: 1px solid $color-accent;
        color: $color-accent;
    }
}

.clients__icon {
    fill: currentColor;
}