// features section
.features {
    @include mq(desktop) {
        padding-bottom: 0;
    }
}

.features__list {
    @extend %list;

    @include mq(tablet) {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

.features__item {
    width: 100%;

    &:not(:last-child) {
        margin-bottom: 30px;
    }

    @include mq(tablet) {
        max-width: calc((100% - 60px)/2);

        &:nth-child(2n+1) {
            margin-right: 30px;
        }

        &:nth-last-child(-n+2) {
            margin-bottom: 0;
        }
    }

    @include mq(desktop) {
        max-width: 270px;

        &:not(:last-child) {
            margin-right: 30px;
            margin-bottom: 0;
        }
    }
}

.features__icon {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 30px;

    width: 100%;
    height: 120px;

    background: $color-background-second;
    border-radius: 4px;
}

.features__title {
    margin-bottom: 10px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    text-align: center;

    @include mq(tablet) {
        text-align: left;
    }
}

.features__description {
    line-height: 1.71;

    color: $color-text-second;
}