.team {
    background-color: $color-background-second;
}

.team__list {
    @extend %list;

    @media screen and (min-width: $tablet) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

.team__item {
    width: 100%;
    height: auto;

    background-color: $color-text-white;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    &:not(:last-child) {
        margin-bottom: 30px;
    }

    @media screen and (min-width: $mobile) {
        width: 450px;
    }

    @media screen and (min-width: $tablet) {
        max-width: calc((100% - 30px)/2);

        &:nth-last-child(-n+2) {
            margin-bottom: 0;
        }
    }

    @media screen and (min-width: $desktop) {
        max-width: 270px;

        &:not(:last-child) {
            margin-bottom: 0;
        }
    }
}

.team__image {
    width: 100%;
    height: 100%;

    @media screen and (min-width: $mobile) {
        width: 450px;
        height: 460px;
    }

    @media screen and (min-width: $tablet) {
        width: 354px;
        height: 374px;
    }

    @media screen and (min-width: $desktop) {
        width: 270px;
        height: 260px;
    }
}

.team__wrap {
    padding-top: 30px;
    padding-bottom: 30px;

    text-align: center;
}

.team__title {
    margin-bottom: 10px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
}

.team__description {
    margin-bottom: 16px;

    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;

    color: $color-text-second;
}