// modal-form

.form {
    display: block;
    text-align: center;
}

// user-contacts
.form__field {
    display: block;
    margin-bottom: 10px;

    text-align: left;
}

.form__label {
    display: inline-block;
    margin-bottom: 4px;

    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;

    color: $color-text-second;
}

.form__wrapper {
    position: relative;
    display: block;
}

.form__input {
    display: flex;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 42px;
    padding-right: 16px;

    width: 448px;
    height: 40px;

    color: $color-text-main;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    transition: border-color $transition-duration $transition-timing-function;

    .form__field:focus-within & {
        outline: 0;
        border-color: $color-accent;
    }
}

.form__icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    fill: currentColor;

    transition: fill $transition-duration $transition-timing-function;

    .form__field:focus-within & {
        fill: $color-accent;
    }
}

// user-comment
.form__field-comment {
    margin-bottom: 20px;
}

.form__comment {
    display: flex;
    padding: 12px 16px;

    width: 448px;
    height: 120px;
    resize: none;

    line-height: 1.14;
    letter-spacing: 0.01em;

    color: $color-text-main;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    transition: border-color $transition-duration $transition-timing-function;


    &:hover,
    &:focus,
    &:active {
        outline: 0;
        border-color: $color-accent;
    }

    &::placeholder {
        color: rgba(117, 117, 117, 0.5);
    }
}

// checkbox
.form__field-checkbox {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 30px;
}

.form__wrapper-checkbox {
    position: relative;

    display: block;
    margin-right: 7px;

    width: 16px;
    height: 15px;

    cursor: pointer;
}

.form__input-checkbox {
    @extend %visually-hidden;
}

.form__icon--checked {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);

    opacity: 0;
    transition: opacity $transition-duration $transition-timing-function;

    .form__input-checkbox:checked+& {
        opacity: 1;
    }
}

.form__icon--unchecked {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);

    width: 16px;
    height: 15px;

    border: 2px solid $color-text-main;
    border-radius: 2px;

    transition: border-color $transition-duration $transition-timing-function;

    .form__input-checkbox:checked~&,
    .form__input-checkbox:focus~&,
    .form__input-checkbox:hover~& {
        border-color: $color-accent;
    }
}

.form__label-checkbox {
    margin-bottom: 0;

    font-size: 14px;
    line-height: 1.71;

    color: $color-text-second;
    cursor: pointer;
    user-select: none;
}

.form__agreement {
    color: $color-accent;
}

.form__send-button {
    padding: 10px 55px;
}