// modal-window

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    padding: 40px;

    width: 528px;
    height: 581px;

    background: $color-background-main;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    opacity: 1;

    transition: transform $transition-duration $transition-timing-function, visibility $transition-duration $transition-timing-function,
        opacity $transition-duration $transition-timing-function;

    .backdrop.is-hidden>& {
        transform: translate(-50%, -50%) scale(1.5);
    }
}

.modal__title {
    margin-bottom: 12px;

    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
}

.modal__close-button {
    position: absolute;
    top: 8px;
    right: 8px;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 30px;
    height: 30px;

    color: $color-text-black;
    background: $color-background-main;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;

    cursor: pointer;
    transition: color $transition-duration $transition-timing-function;

    &:hover,
    &:focus {
        color: $color-accent;
    }
}

.modal__icon {
    fill: currentColor;
}