.projects {
    @extend %list;

    flex-wrap: wrap;
    margin-top: 50px;
}

.projects__item {
    margin-right: 30px;
    margin-bottom: 30px;

    width: 370px;

    &:nth-child(3n) {
        margin-right: 0;
    }

    &:nth-last-child(-n + 3) {
        margin-bottom: 0;
    }
}

.projects__link {
    display: inline-block;

    text-decoration: none;
    color: inherit;

    transition: box-shadow $transition-duration $transition-timing-function;

    &:hover,
    &:focus {
        color: inherit;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
}

.projects__wrap {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
    padding-right: 24px;

    border-right: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
    border-left: 1px solid #eeeeee;
}

.projects__title {
    margin-bottom: 4px;

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    text-align: left;
}

.projects__subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    text-align: left;

    color: $color-text-second;
}

.projects__box {
    position: relative;
    overflow: hidden;
}

.projects__description {
    position: absolute;
    padding-top: 63px;
    padding-bottom: 63px;
    padding-left: 24px;
    padding-right: 24px;

    width: 100%;
    height: 100%;

    background-color: rgba(33, 150, 243, 0.9);
    color: $color-text-white;

    font-size: 18px;
    line-height: 1.56;
    text-align: left;

    transition: transform $transition-duration $transition-timing-function;

    .projects__link:hover &,
    .projects__link:focus & {
        transform: translateY(-100%);
    }
}