// work section
.work__list {
    @extend %list;
}

.work__item {
    position: relative;

    &:not(:last-child) {
        margin-right: 30px;
    }
}

.work__label {
    position: absolute;
    bottom: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 370px;
    height: 70px;

    background: rgba(47, 48, 58, 0.8);
}

.work__description {
    font-weight: 700;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: $color-text-white;
}