// footer contacts

.footer__contacts {
    margin-right: 70px;
}

.address {
    font-style: inherit;
    line-height: 1.71;

    color: rgba(255, 255, 255, 0.6);
}

.address__list {
    @extend %list;
    display: block;
}

.address__item {

    &:first-child {
        padding-top: 0;
        color: $color-text-white;
    }

    &:not(:last-child) {
        margin-bottom: 9px;
    }
}

.address__link {
    text-decoration: none;
    color: inherit;
}