// footer 

.footer {
    padding-top: 60px;
    padding-bottom: 60px;

    background-color: $color-background-accent;
}

.footer__container {
    display: block;
    text-align: center;

    @media screen and (min-width: $tablet) {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: baseline;
    }

    @media screen and (min-width: $desktop) {
        text-align: left;
    }
}