.footer__join {
    margin-bottom: 60px;

    @media screen and (min-width: $tablet) {
        margin-bottom: 0;
        margin-right: 0;
    }

    @media screen and (min-width: $desktop) {
        margin-right: 93px;
    }
}

.join__title {
    margin-bottom: 20px;

    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;

    color: $color-text-white;
}