// header
.header {
    position: relative;

    width: 100%;
    height: 60px;

    border-bottom: 1px solid #ececec;

    @include mq(tablet) {
        height: auto;
    }
}

.header__container {
    display: flex;
    align-items: center;
    text-align: left;
}