// header contacts
.contacts {
    @extend %list;
    display: none;
    margin-left: auto;

    @include mq(tablet) {
        display: block;
    }

    @include mq(desktop) {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-left: auto;
    }
}

.contacts__item {
    color: $color-text-second;

    &:not(:last-child) {
        margin-bottom: 10px;
    }

    @include mq(desktop) {
        &:not(:last-child) {
            margin-right: 50px;
            margin-bottom: 0;
        }
    }
}

.contacts__link {
    @extend %link;

    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;

    transition: color $transition-duration $transition-timing-function;

    @include mq(desktop) {
        display: flex;
        align-items: center;
        padding-top: 32px;
        padding-bottom: 32px;

        font-size: 14px;
        line-height: 1.14;
    }
}

.contacts__icon {
    margin-right: 10px;
    fill: currentColor;
}