.site-nav {
    @extend %list;
}

.site-nav__item {

    &:not(:last-child) {
        margin-right: 50px;
    }
}

.site-nav__link {
    @extend %link;

    display: flex;
    align-items: center;

    padding-top: 32px;
    padding-bottom: 32px;

    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;

    transition: color $transition-duration $transition-timing-function;
}

.site-nav__link--active {
    position: relative;
    color: $color-accent;

    &::after {
        position: absolute;
        content: "";
        bottom: -1px;
        left: 0;

        width: 100%;
        height: 4px;

        border-radius: 2px;
        background: $color-accent;
    }
}