// background
$color-background-main: #ffffff;
$color-background-second: #f5f4fa;
$color-background-accent: #2f303a;

// text
$color-text-main: #212121;
$color-text-second: #757575;
$color-text-white: #ffffff;
$color-text-black: #000000;

// accent
$color-accent: #2196f3;
$color-button-hover: #188ce8;

// icon
$color-icon: #afb1b8;

// fonts
$font-family-main: 'Roboto', sans-serif;
$font-family-logo: 'Raleway', sans-serif;

// transition
$transition-duration: 250ms;
$transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);