.section {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 60px;
    padding-bottom: 60px;

    @media screen and (min-width:$desktop) {
        width: $desktop;
        padding-top: 94px;
        padding-bottom: 94px;
    }
}

.section__title {
    margin-bottom: 30px;

    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;
    text-align: center;

    &--hidden {
        @extend %visually-hidden;
    }

    @media screen and (min-width:$desktop) {
        margin-bottom: 50px;
        font-size: 36px;
    }
}